{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link href="{% static 'css/cart_view.css' %}" rel="stylesheet">

</head>
<body>
<div class="container-fluid" >
    <h1>Your Shopping Cart</h1>
    {% if cart_items %}
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for cart_item in cart_items %}
            <tr>
                <td>{{ cart_item.product.name }}</td>
                <td>{{ cart_item.quantity }}</td>
                <td>${{ cart_item.product.price }}</td>
                <td>
                    <a href="{% url 'remove_from_cart' cart_item.product.id %}">Remove</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



    {% else %}
    <p>Your cart is empty.</p>
    {% endif %}
    <a href="{% url 'product_list' %}"  class="primary-btn">Back to Product List</a>
</div>

</body>
</html>
